<ion-content class="background">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <h1 id="title">SLD</h1>
  <h1 id="title2">Sistema de Lavanderia Digital</h1>


  <div class="loader"></div>

  <div id="botton">
    <ion-button [routerLink]="['/panprin']" color="secondary">INGRESAR</ion-button>
  </div>

  <div id="atajo">
    <ion-button [routerLink]="['/pruebastest']" color="secondary" >SOPORTE</ion-button>
  </div>





  


</ion-content>
